@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Ubuntu:wght@300;400;500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
}
.max-width{
    max-width:1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    background-color: crimson;
    width: 100%;
    padding: 15px 0;
    background: crimson;
    font-family: 'Ubuntu', sans-serif;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.navbar .menu li{
    list-style:none;
    display: inline-block;
}
.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: black;
}
.home{
    display:flex;
    background:url(./images/compute.png) no-repeat center;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text1 {
    font-size: 30px;
    color: lightgreen;
    font-weight: 400;
}
.home .home-content .text2 {
    font-size: 30px;
    color: lightgreen;
    font-weight: 600;
}
.home .home-content .text3 {
    font-size: 30px;
    color: lightgreen;
    font-weight: 400;
}
.home .home-content .text4 {
    font-size: 30px;
    color: lightgreen;
    font-weight: 600;
}
.home .home-content .text5 {
    font-size: 30px;
    color: dodgerblue;
    font-weight: 600;
}
